
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/*Style heading and let it get centered*/
h1{
  text-align: center;
}

/* Remove margins and padding from the list */
ul {
  margin: 2rem auto;
  padding: 0;
  list-style: none;
  width: 70%;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #e1b382;
  font-size: 18px;
  transition: 0.2s;
  border-bottom: #2d545e 2px solid;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Darker background-color on hover */
ul li:hover {
  background: #c89666;
}

